include pinyin_jyutping_sentence/cccanto-webdist-160115.txt
include pinyin_jyutping_sentence/cccedict-canto-readings-150923.txt
include pinyin_jyutping_sentence/dict.txt.big
include pinyin_jyutping_sentence/cedict_1_0_ts_utf-8_mdbg.txt
include pinyin_jyutping_sentence/mandarin_cantonese_data.json
